<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Street address 1:</strong>
  <%= @client.street_address_1 %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @client.tel %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
